
:root{
  @include resultRoot($root);
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: var(--body-bg-color);
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  direction: ltr;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 1rem;
  overflow-x: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  color: var(--base-color);
  background: var(--body-bg-color);
  background-repeat: no-repeat, repeat, repeat;
  //transition: background .15s ease-in-out;

  &.theme{

    &_dark{
      @include resultRoot($root);
    }

    &_light{
      @include resultRoot($root, 'light');
    }
  }

}