.select .select2-container--default .select2-selection--single {
  display: block;
  background-color: #26292f;
  border: 1px solid #4b4f56;
  border-radius: 4px;
}
.select .select2-container--default .select2-selection--single .select2-selection__rendered {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  height: 40px;
  line-height: 40px;
  padding-left: 17px;
  padding-right: 35px;
  text-align: left;
}
.select .select2-container--default .select2-selection--single .select2-selection__placeholder {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.4);
}
.select .select2-container--default .select2-selection--single .select2-selection__arrow {
  display: block;
  height: 40px;
  right: 12px;
  left: auto;
}
.select .select2-container--default .select2-selection--single .select2-selection__arrow:before {
  font-size: 6px;
}
.select--prime .select2-container--default .select2-selection--single {
  border: 0;
  background-color: #2c2f35;
}
.select--prime .select2-container--default .select2-selection--single .select2-selection__arrow {
  right: 4px;
  left: auto;
}
.select--prime .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow:before {
  content: "\e90a";
}
.select--filter .select2-container--default .select2-selection--single {
  background-color: #2c2f35;
  border: 0;
  border-radius: 2px;
}
.select--filter .select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 30px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  padding-left: 10px;
  padding-right: 30px;
}
.select--filter .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 30px;
  right: 0;
  width: 19px;
}
.select--filter .select2-container--default .select2-selection--single .select2-selection__arrow:before {
  font-size: 4px;
}
.lang-form {
  display: inline-block;
}
.lang-form .select2-container--default .select2-selection--single {
  border-color: #3e4146;
}
.lang-form:hover .select2-container--default .select2-selection--single {
  border-color: hsla(0, 0%, 100%, 0.3);
}
.country-form .select2-container .select2-selection--single,
.currency-form .select2-container .select2-selection--single {
  height: 42px;
}
.country-form .select2-container .select2-selection--single .select2-selection__arrow,
.currency-form .select2-container .select2-selection--single .select2-selection__arrow {
  right: 12px;
  left: auto;
  height: 36px;
}
.country-form .select2-container .select2-selection--single .select2-selection__arrow:before,
.currency-form .select2-container .select2-selection--single .select2-selection__arrow:before {
  font-size: 6px;
}
.country-form .select2-container--default .select2-selection__option--highlighted[aria-selected],
.currency-form .select2-container--default .select2-selection__option--highlighted[aria-selected] {
  background-color: rgba(0, 0, 0, 0.15);
}
.country-form .select2-container--default .select2-selection--single,
.currency-form .select2-container--default .select2-selection--single {
  display: block;
  background-color: #26292f;
  border: 1px solid #4b4f56;
  border-radius: 4px;
}
.country-form .select2-container--default .select2-selection--single .select2-selection__rendered,
.currency-form .select2-container--default .select2-selection--single .select2-selection__rendered {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  line-height: 40px;
  padding-left: 17px;
  padding-right: 35px;
  text-align: left;
}
.country-form .select2-container--default .select2-selection--single .select2-selection__placeholder,
.currency-form .select2-container--default .select2-selection--single .select2-selection__placeholder {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.4);
}
.country-form .select2-container--default .select2-selection--single .select2-selection__arrow,
.currency-form .select2-container--default .select2-selection--single .select2-selection__arrow {
  display: block;
  height: 40px;
}
.country-form--default,
.currency-form--default {
  display: inline-block;
}
.country-form--default .flag-icon,
.currency-form--default .flag-icon {
  display: block;
  margin-right: 0;
}
.country-form--default .select2-container--default .select2-selection--single .select2-selection__rendered,
.currency-form--default .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-left: 8px;
  padding-right: 26px;
}
.country-form--default .select2-container .select2-selection--single .select2-selection__arrow,
.currency-form--default .select2-container .select2-selection--single .select2-selection__arrow {
  right: 0;
  left: auto;
}
.country-form .select2__currency,
.currency-form .select2__currency {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin-right: 15px;
  margin-left: 0;
}
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding: 6px;
}
.select2-container[dir="rtl"]--default.select-filter .select2-selection__arrow {
  display: none;
}
.select2-container--default .select2-selection--single {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #1f2531;
  border-radius: 50%;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
  height: 30px;
  bottom: 1px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow:before {
  content: "\e909";
  font-family: icomoon;
  font-size: 4px;
  color: hsla(0, 0%, 100%, 0.4);
  display: block;
  line-height: 1;
  position: absolute;
  left: 0;
  right: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 6px;
  line-height: 18px;
}
.select2-container--default .select2-selection--single.select-filter {
  border: 0;
}
.select2-container--default .select2-selection--single.select-filter:focus {
  outline: 0;
}
.select2-container--default .select2-selection--single.select-filter .select2-selection__rendered {
  position: relative;
  padding-right: 0;
  padding-left: 25px;
  color: #888a8c;
  font-family: Fira Sans Condensed, Fira Sans, sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.select2-container--default .select2-selection--single.select-filter .select2-selection__rendered:before {
  content: "\e916";
  font-family: icomoon;
  font-size: 11px;
  color: #4f535b;
  display: block;
  line-height: 1;
  position: absolute;
  left: 0;
  right: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.select2-container--default .select2-selection--single.select-filter .select2-selection__arrow {
  display: none;
}
.select2-container .select2-selection--single {
  height: auto;
}
.select-dropdown {
  background-color: #3e4146;
  border: 0;
}
.select-dropdown .select2-results__option {
  padding: 10px 17px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.select-dropdown .select2-results__option--highlighted[aria-selected] {
  background-color: rgba(0, 0, 0, 0.15);
}
.select-dropdown .select2-results__option[aria-selected="true"] {
  background-color: hsla(0, 0%, 100%, 0.15);
}
.country-dropdown {
  background-color: #3e4146;
  border: 0;
}
.country-dropdown .flag-icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: block;
  margin: 0 11px 0 0;
}
.country-dropdown .flag-text {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}
.country-dropdown .select2-results__option {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 7px;
  border-radius: 0;
}
.country-dropdown .select2-results__option--highlighted[aria-selected] {
  background-color: rgba(0, 0, 0, 0.15);
}
.country-dropdown .select2-results__option[aria-selected="true"] {
  background-color: hsla(0, 0%, 100%, 0.15);
}
.currency-dropdown {
  background-color: #32323d;
  border-color: #32323d;
}
.currency-dropdown .select2-results__option {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 0;
}
.currency-dropdown .select2-results__option--highlighted[aria-selected] {
  background-color: rgba(0, 0, 0, 0.15);
}
.currency-dropdown .select2-results__option[aria-selected="true"] {
  background-color: hsla(0, 0%, 100%, 0.15);
}
.currency-dropdown .select2__currency {
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 14px;
  font-weight: 500;
  margin-right: 15px;
  margin-left: 0;
}
.select2-dropdown {
  background-color: #3d4048;
  border-color: #535458;
}

.input-success .country-form .select2-container--default .select2-selection--single,
.input-success .currency-form .select2-container--default .select2-selection--single,
.input-success .input {
  border-color: #848992;
}
.input-success.modal__form-item {
  position: relative;
}
.input-success.modal__form-item:before {
  content: "\e914";
  font-family: icomoon;
  font-size: 14px;
  display: block;
  line-height: 1;
  color: #58c92c;
  position: absolute;
  z-index: 1;
  right: -33px;
  left: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.input-invalid .input-title__input:focus ~ .input-title__text:before {
  border-color: #fe003c;
}
.input-invalid .input-title__text:before {
  border-color: #fe003c;
}
.input-invalid .country-form .select2-container--default .select2-selection--single,
.input-invalid .currency-form .select2-container--default .select2-selection--single,
.input-invalid .input {
  border-color: #fe003c;
}
//.error {
//  display: block;
//  text-align: right;
//  color: #ff8484;
//  font-size: 10px;
//  padding: 5px;
//}
.category__filter .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  padding-right: 25px;
}

.country-form--default .flag-icon,
.currency-form--default .flag-icon {
  display: block;
  margin-right: 0;
}
.country-form .flag-icon,
.currency-form .flag-icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: block;
  margin-right: 11px;
  margin-left: 0;
}
.flag-icon img {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}