.activity{
  position: relative;
  width: 100%;
  display: flex;

  &_portrait{
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    margin-left: -10/376 * 100vw;
  }

  &_landscape{
    max-width: 458/688 * 100vw;
    flex-direction: column;
    justify-content: center;
  }


  &__box{

    &_landscape{
      display: flex;
      max-height: 34/668 * 100vw;

      &:not(:first-child){
        margin-top: -22/668 * 100vw;
      }

      &:nth-child(2n){
        justify-content: center;
      }
    }

    &_portrait{
      display: flex;
      max-width: 86/376 * 100vw;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      min-width: 86px;
      margin-right: -43/376 * 100vw;
    }

  }

  &__cube{

    &_landscape{
      align-self: flex-end;
      min-width: 34px;
      min-height: 34px;
      height: 34/668 * 100vw;
      width: 34/668 * 100vw;
      background-position: 0 0;
      background-size: 100% 100%;
      background-repeat: no-repeat;

      &_min{
        height: 34/668 * 100vw;
        background-image: var(--cubeMin);
      }

      &_mid{
        height: 42/668 * 100vw;
        background-image: var(--cubeMid);
      }

      &_max{
        height: 58/668 * 100vw;
        background-image: var(--cubeMax);
      }

      &_extra{
        height: 74/668 * 100vw;
        background-image: var(--cubeExtra);
      }

    }

    &_portrait{
      min-width: 43px;
      min-height: 33px;
      width: 43/376 * 100vw;
      height: 33/376 * 100vw;
      position: relative;
      max-height: 35/668 * 100vh;

      @for $i from 1 through 24 {

        &:nth-child(#{$i}){
          z-index: #{$i};
        }
      }

      &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-position: 0 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }

      &:nth-child(2n + 2){
        bottom: -16.5/376 * 100vw;
        left: -21.5/376 * 100vw;
      }

      &_min{

        &:before{
          height: 43/376 * 100vw;
          background-image: var(--cubeMin);
        }

      }

      &_mid{

        &:before{
          height: 54/376 * 100vw;
          background-image: var(--cubeMid);
          margin-top: -11/668 * 100vw;
        }


      }

      &_max{

        &:before{
          height: 74/376 * 100vw;
          background-image: var(--cubeMax);
          margin-top: -31/376  * 100vw;
        }

      }

      &_extra{

        &:before{
          height: 95/376 * 100vw;
          background-image: var(--cubeExtra);
          margin-top: -52/376 * 100vw;
        }
      }
    }
  }
}

