.activity{
  position: relative;
  margin: auto auto 0;
  width: 100%;
  height: calc(100vh - 100px);
  max-width: 458/688 * 100vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //display: grid;
  //grid-template-columns: repeat(12, 1fr);

  &__row{
    display: flex;

    @for $i from 1 through 7 {
      &:not(:first-child):nth-child(#{$i}){
        margin-top: -22/668 * 100vw;
      }
    }

    &:nth-child(2n){
      justify-content: center;
    }



    //&:nth-child(2n){
    //  position: relative;
    //  left: 13/668 * 100vw;
    //}
  }

  &__col{
    min-width: 34/668 * 100vw;
    min-height: 34/668 * 100vw;
    width: 34/668 * 100vw;
    height: 34/668 * 100vw;
  }
}

