.activity{
  position: relative;
  margin: auto auto 0;
  width: 100%;
  display: flex;

  &_portrait{
    flex-direction: row;
    min-height: inherit;
    height: auto;
    max-width: 100%;
  }

  &_landscape{
    height: calc(100vh - 100px);
    max-width: 458/688 * 100vw;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
  }


  &__box{

    &_landscape{
      display: flex;
      max-height: 34/668 * 100vw;

      &:not(:first-child){
        margin-top: -22/668 * 100vw;
      }

      &:nth-child(2n){
        justify-content: center;
      }
    }

    &_portrait{
      display: flex;
      max-width: 86/376 * 100vw;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      min-width: 86px;
      //max-height: 512/688 * 100vh;
      //margin-right: -83/376 * 100vw;
    }

  }

  &__cube{
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    &_landascape{
      align-self: flex-end;
      min-width: 34px;
      min-height: 34px;
      height: 34/668 * 100vw;
      width: 34/668 * 100vw;

      &_min{
        height: 34/668 * 100vw;
        background-image: var(--cubeMin);
      }

      &_mid{
        height: 42/668 * 100vw;
        background-image: var(--cubeMid);
      }

      &_max{
        height: 58/668 * 100vw;
        background-image: var(--cubeMax);
      }

      &_extra{
        height: 74/668 * 100vw;
        background-image: var(--cubeExtra);
      }

    }

    &_portrait{
      min-width: 43px;
      min-height: 43px;
      height: 43/376 * 100vw;
      width: 43/376 * 100vw;
      position: relative;

      @for $i from 1 through 24 {

        &:nth-child(#{$i}){
          z-index: #{$i};
        }
      }

      //&:not(:nth-child(1)):not(:nth-child(2)){
      //  display: none;
      //}

      &:nth-child(2n + 2){
        bottom: -21.5/376 * 100vw;
        left: -21.5/376 * 100vw;
      }

      &_min{
        height: 43/376 * 100vw;;
        background-image: var(--cubeMin);
      }

      &_mid{
        height: 54/376 * 100vw;
        background-image: var(--cubeMid);
        margin-top: -11/668 * 100vw;
      }

      &_max{
        height: 74/376 * 100vw;
        background-image: var(--cubeMax);
        margin-top: -31/376  * 100vw;
      }

      &_extra{
        height: 95/376 * 100vw;
        background-image: var(--cubeExtra);
        margin-top: -52/376 * 100vw;
      }

    }

  }

}

