$widthCubPort: 43.73;
$heightCubPort: 33.44;

.activity{
  position: relative;
  display: flex;
  width: 100%;

  &__legend{
    width: 100%;

    @media all and (orientation: portrait) {
      margin-top: auto;
      margin-bottom: 24/$heightMob * 100vw;
    }
  }

  &_landscape{
    flex-direction: column;
    justify-content: flex-end;
    max-width: 425/$widthMob * 100vw;
    height: 112/$widthMob * 100vw;
  }

  &_portrait{
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    margin-top: 50/$heightMob * 100vw;
    margin-left: -($widthCubPort/2)/$heightMob * 100vw;
  }


  &__box{

    &_landscape{
      display: flex;
      max-height: 34/$widthMob * 100vw;

      &:not(:first-child) {
        margin-top: -21/$widthMob * 100vw;
      }

      &:nth-child(2n){
        justify-content: flex-end;
      }
    }

    &_portrait{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      //min-width: #{$widthCubPort * 2}6px;
      max-width: ($widthCubPort * 2)/$heightMob * 100vw;
      margin-right: -$widthCubPort/$heightMob * 100vw;
    }

  }

  &__cube{

    &_landscape{
      align-self: flex-end;
      width: 34/$widthMob * 100vw;
      min-width: 34px;
      height: 34/$widthMob * 100vw;
      min-height: 34px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100% 100%;

      &_min{
        height: 34/$widthMob * 100vw;
        background-image: var(--cubeMin);
      }

      &_mid{
        height: 42/$widthMob * 100vw;
        background-image: var(--cubeMid);
      }

      &_max{
        height: 58/$widthMob * 100vw;
        background-image: var(--cubeMax);
      }

      &_extra{
        height: 74/$widthMob * 100vw;
        background-image: var(--cubeExtra);
      }

    }



    &_portrait{
      position: relative;
      width: $widthCubPort/$heightMob * 100vw;
      //min-width: #{$widthCubPort}px;
      height: $heightCubPort/$heightMob * 100vw;
      //min-height: #{$heightCubPort}px;
      max-height: $heightCubPort/$heightMob * 100vw;

      @for $i from 1 through 24 {

        &:nth-child(#{$i}){
          z-index: #{$i};
        }
      }

      &:before{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100% 100%;
        content: "";
      }

      &:nth-child(2n + 2){
        bottom: -(($heightCubPort/2)/$heightMob * 100vw);
        left: -($widthCubPort/2)/$heightMob * 100vw;
      }

      &_min{

        &:before{
          height: $widthCubPort/$heightMob * 100vw;
          background-image: var(--cubeMin);
        }

      }

      &_mid{

        $heightMid: 54.02;

        &:before{
          height: $heightMid/$heightMob * 100vw;
          margin-top: -($heightMid - $widthCubPort)/$heightMob * 100vw;
          background-image: var(--cubeMid);
        }


      }

      &_max{
        $heightMax: 74.6;

        &:before{
          height: $heightMax/$heightMob * 100vw;
          margin-top: -($heightMax - $widthCubPort)/$heightMob  * 100vw;
          background-image: var(--cubeMax);
        }

      }

      &_extra{
        $heightExtra: 95.18;

        &:before{
          height: $heightExtra/$heightMob * 100vw;
          margin-top: -($heightExtra - $widthCubPort)/$heightMob * 100vw;
          background-image: var(--cubeExtra);
        }
      }
    }
  }
}

