.activity{
  position: relative;
  margin: auto auto 0;
  width: 100%;
  display: flex;

  &_portrait{
    flex-direction: row;
    min-height: inherit;
    height: auto;
    max-width: 100%;
  }

  &_landscape{
    height: calc(100vh - 100px);
    max-width: 458/688 * 100vw;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
  }


  &__box{

    &_landscape{
      display: flex;
      max-height: 34/668 * 100vw;

      &:not(:first-child){
        margin-top: -22/668 * 100vw;
      }

      &:nth-child(2n){
        justify-content: center;
      }
    }

    &_portrait{

    }



  }

  &__cube{
    min-width: 34px;
    min-height: 34px;
    height: 34/668 * 100vw;
    width: 34/668 * 100vw;
    align-self: flex-end;
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    &_min{
      height: 34/668 * 100vw;
      background-image: var(--cubeMin);
    }

    &_mid{
      height: 42/668 * 100vw;
      background-image: var(--cubeMid);
    }

    &_max{
      height: 58/668 * 100vw;
      background-image: var(--cubeMax);
    }

    &_extra{
      height: 74/668 * 100vw;
      background-image: var(--cubeExtra);
    }

    &_portrait{

    }

    &_landscape{

    }

  }

  &__column{
    display: flex;
    max-width: 68/668 * 100vw;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 68px;
  }

}

