.app {
  display: flex;
  flex-direction: column;

  &__header{
    min-height: 110px;
  }

  &__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 110px);
  }

  &__title{
    font-weight: bold;
    font-size: rem(30);
    line-height: rem(32);
    text-align: center;
    color: var(--base-color);
    margin: 0;
    padding: rem(20) 0 rem(8);


    @media all and (orientation: portrait) {
      text-align: left;
      padding-top: rem(20);
      padding-left: rem(24);
      padding-right: rem(24);
    }
  }

  &__subtitle{
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: rem(18);
    margin: 0;
    color: var(--second-color);
    text-align: center;

    @media all and (orientation: portrait) {
      text-align: left;
      padding: 0 rem(24);
    }
  }
}