.chart{

  &__box{
    display: flex;
    justify-content: flex-end;
    width: 100%;

    height: 100%;
    margin-top: auto;

    @media all and (orientation: landscape) {
      padding: 0 58/$widthMob * 100vw;
    }

    @media all and (orientation: portrait) {
      padding: 0 24/$heightMob * 100vw;
    }
  }

  &_col{
    text-align: center;
    align-self: flex-end;

    &:hover,
    &_active {

      .chart_col-box{
        box-shadow: var(--column-shadow-active);
        background: var(--column-color-active);
      }

      .chart_col-count{
        color: var(--base-color);
      }
    }

    &:first-child{
      @media all and (orientation: landscape) {
        margin-right: 12/$widthMob * 100vw;
      }

      @media all and (orientation: portrait) {
        margin-right: 12/$heightMob * 100vw;
      }
    }

    &:last-child{
      @media all and (orientation: landscape) {
        margin-left: 12/$widthMob * 100vw;
      }

      @media all and (orientation: portrait) {
        margin-left: 12/$heightMob * 100vw;
      }
    }

    &:not(:last-child):not(:first-child){

      @media all and (orientation: landscape) {
        margin: 0 12/$widthMob * 100vw;
      }

      @media all and (orientation: portrait) {
        margin: 0 12/$heightMob * 100vw;
      }
    }

    &-count{
      font-weight: bold;
      color: var(--second-color);
      transition: color .15s ease-in-out;

      @media all and (orientation: landscape) {
        font-size: 20/$widthMob * 100vw;
        line-height: 22/$widthMob * 100vw;
        margin-bottom: 8/$widthMob * 100vw;
      }

      @media all and (orientation: portrait) {
        font-size: 20/$heightMob * 100vw;
        line-height: 22/$heightMob * 100vw;
        margin-bottom: 8/$heightMob * 100vw;
      }

    }

    &-box{
      border-radius: 6px;
      min-width: 40px;
      box-shadow: var(--column-shadow);
      background: var(--column-color);
      user-select: none;
      transition: background .15s ease-in-out, box-shadow .15s ease-in-out;
      max-height: 60vh;

      @media all and (orientation: landscape) {
        width: 40/$widthMob * 100vw;
        min-height: 8/$widthMob * 100vw;
      }

      @media all and (orientation: portrait) {
        width: 40/$heightMob * 100vw;
        min-height: 8/$heightMob * 100vw;
      }
    }

    &-num{
      font-weight: 500;
      color: var(--second-color);

      @media all and (orientation: landscape) {
        font-size: 16/$widthMob * 100vw;
        line-height: 18/$widthMob * 100vw;
        margin-top: 12/$widthMob * 100vw;
      }

      @media all and (orientation: portrait) {
        font-size: 16/$heightMob * 100vw;
        line-height: 18/$heightMob * 100vw;
        margin-top: 12/$heightMob * 100vw;
      }

    }

  }

  &__users{
    display: flex;
    width: 100%;

    @media all and (orientation: landscape) {
      max-width: 474/$widthMob * 100vw;
      margin: 24/$widthMob * 100vw 0;
      justify-content: space-between;
    }

    @media all and (orientation: portrait) {
      flex-direction: column;
      max-width: 100%;
      padding: 0 24/$heightMob * 100vw;
      margin: 24/$heightMob * 100vw 0;
    }

    &-el{
      display: flex;
      width: 100%;

      @media all and (orientation: landscape) {
        max-width: 220/474 * 100%;
      }

      &:last-child{

        @media all and (orientation: landscape) {
          position: relative;

          &:before{
            content: "";
            position: absolute;
            left: calc(calc(16/220 * 100%) * -1);
            top: 0;
            bottom: 0;
            height: 100%;
            width: 2px;
            background-color: rgba(#BFBFBF, 0.3);
          }
        }

        @media all and (orientation: portrait) {
          border-top: 2px solid rgba(#918F8A, .3);
          padding-top: 16/$heightMob * 100vw;
          margin-top: 16/$heightMob * 100vw;
        }
      }

      &-avatar{
        position: relative;
        user-select: none;

        @media all and (orientation: landscape) {
          margin-right: 14/$widthMob * 100vw;
          max-height: 40/$widthMob * 100vw;
        }

        @media all and (orientation: portrait) {
          margin-right: 14/$heightMob * 100vw;
          max-height: 40/$heightMob * 100vw;
        }

        &-img{
          border-radius: 50%;
          overflow: hidden;
          min-width: 40px;
          min-height: 40px;
          filter: var(--effect-photo);

          @media all and (orientation: landscape) {
            width: 40/$widthMob * 100vw;
            height: 40/$widthMob * 100vw;

          }

          @media all and (orientation: portrait) {
            width: 40/$heightMob * 100vw;
            height: 40/$heightMob * 100vw;

          }
        }
      }

      &-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &-name{
        font-weight: 500;
        color: var(--base-color);

        @media all and (orientation: landscape) {
          margin-bottom: 4/$widthMob * 100vw;
          font-size: 16/$widthMob * 100vw;
          line-height: 18/$widthMob * 100vw;
        }

        @media all and (orientation: portrait) {
          margin-bottom: 4/$heightMob * 100vw;
          font-size: 16/$heightMob * 100vw;
          line-height: 18/$heightMob * 100vw;
        }
      }

      &-num{
        font-weight: normal;
        color: var(--second-color);

        @media all and (orientation: landscape) {
          font-size: 14/$widthMob * 100vw;
          line-height: 16/$widthMob * 100vw;
        }

        @media all and (orientation: portrait) {
          font-size: 14/$heightMob * 100vw;
          line-height: 16/$heightMob * 100vw;
        }
      }

    }
  }

  &_diagram{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    width: 100%;

    @media all and (orientation: landscape) {
      max-width: 584/$widthMob * 100vw;
    }

    @media all and (orientation: portrait) {
      flex-direction: column;
      max-width: 328/$heightMob * 100vw;
      margin-bottom: 24/$heightMob * 100vw;
      margin-top: 32/$heightMob * 100vw;
    }

    &__circle{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      @media all and (orientation: landscape) {
        max-width: 240/$widthMob * 100vw;
      }

      @media all and (orientation: portrait) {
        max-width: 328/$heightMob * 100vw;
      }

      &-box{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;

        @media all and (orientation: landscape) {
          width: 120/$widthMob * 100vw;
        }

        @media all and (orientation: portrait) {
          width: 164/$heightMob * 100vw;
        }

      }

      &-title{
        font-weight: bold;
        text-align: center;
        color: var(--base-color);

        @media all and (orientation: landscape) {
          font-size: 20/$widthMob * 100vw;
          line-height: 22/$widthMob * 100vw;
          margin: 0 0 6/$widthMob * 100vw;
        }

        @media all and (orientation: portrait) {
          font-size: 20/$heightMob * 100vw;
          line-height: 22/$heightMob * 100vw;
          margin: 0 0 6/$heightMob * 100vw;
        }
      }

      &-result{
        font-weight: 500;
        color: var(--second-color);
        text-align: center;
        margin: 0;

        @media all and (orientation: landscape) {
          font-size: 16/$widthMob * 100vw;
          line-height: 18/$widthMob * 100vw;
        }

        @media all and (orientation: portrait) {
          font-size: 16/$heightMob * 100vw;
          line-height: 18/$heightMob * 100vw;
        }

      }

      &-chart{
        width: 100%;
        height: 100%;

        $colorCircle: (
           first: 'rgba(255, 163, 0, 0.8)',
           second: 'rgba(99, 63, 0, 0.5)',
           middle: 'rgba(155, 155, 155, 0.5)',
           last: 'rgba(77, 77, 77, 0.5)'
        );

        circle{
          fill:none;
          stroke-width: 42px;
        }

        @each $key, $value in $colorCircle {
          &-#{$key}{
            stroke: #{$value};
          }
        }
      }
    }

    &__info{
      display: flex;
      flex-direction: column;
      width: 100%;

      @media all and (orientation: landscape) {
        margin-left: 40/$widthMob * 100vw;
        max-height: 240/$widthMob * 100vw;
      }

      @media all and (orientation: portrait) {
        max-width: 100%;
        margin-top: 32/$heightMob * 100vw;
      }
    }

    &__row{
      display: flex;
      align-items: center;


      @media all and (orientation: landscape) {
        padding: 16 / $widthMob * 100vw 0;
      }

      @media all and (orientation: portrait) {
        padding: 16 / $heightMob * 100vw 0;
      }

      &:not(:last-child){
        border-bottom: 2px solid var(--borderColorDiagramRow);
      }

      &:first-child{
        padding-top: 0;
      }

      &:last-child{
        padding-bottom: 0;
      }

      &-circle{
        border-radius: 50%;

        @media all and (orientation: landscape) {
          width: 16 / $widthMob * 100vw;
          height: 16 / $widthMob * 100vw;
          margin-right: 10/$widthMob * 100vw;
        }

        @media all and (orientation: portrait) {
          width: 16 / $heightMob * 100vw;
          height: 16 / $heightMob * 100vw;
          margin-right: 10/$heightMob * 100vw;
        }


        @for $i from 1 through 4 {

          &_#{$i}{
            box-shadow: var(--circleShadow_#{$i});
            background: var(--circleBack_#{$i});
          }

        }
      }

      &-counts{
        font-weight: 500;
        color: var(--base-color);
        text-overflow: ellipsis;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        display: inline-block;

        @media all and (orientation: landscape) {
          font-size: 16/$widthMob * 100vw;
          line-height: 18/$widthMob * 100vw;
          max-width: 181/$widthMob * 100vw;
        }

        @media all and (orientation: portrait) {
          font-size: 16/$heightMob * 100vw;
          line-height: 18/$heightMob * 100vw;
          max-width: 250/$heightMob * 100vw;
        }

      }

      &-progress{
        font-weight: 500;
        color: var(--second-color);
        margin-left: auto;

        @media all and (orientation: landscape) {
          font-size: 16/$widthMob * 100vw;
          line-height: 18/$widthMob * 100vw;
        }

        @media all and (orientation: portrait) {
          font-size: 16/$heightMob * 100vw;
          line-height: 18/$heightMob * 100vw;
        }

      }

      &-result{
        font-weight: 500;
        color: var(--second-color);

        @media all and (orientation: landscape) {
          margin-left: 16/$widthMob * 100vw;
          font-size: 16/$widthMob * 100vw;
          line-height: 18/$widthMob * 100vw;
        }

        @media all and (orientation: portrait) {
          margin-left: 16/$heightMob * 100vw;
          font-size: 16/$heightMob * 100vw;
          line-height: 18/$heightMob * 100vw;
        }

      }

    }
  }

}