$marginCol: 12/668 *100vw;

.chart{

  &__box{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0 calc(58/668 * 100vw);
    height: 100%;
    margin-top: auto;
  }

  &_col{
    text-align: center;
    align-self: flex-end;

    &:hover{

      .chart_col-box{
        box-shadow: var(--column-shadow-active);
        background: var(--column-color-active);
      }

      .chart_col-count{
        color: var(--base-color);
      }
    }

    &:first-child{
      margin-right: $marginCol;
    }

    &:last-child{
      margin-left: $marginCol;
    }

    &:not(:last-child):not(:first-child){
      margin: 0 $marginCol;
    }

    &-count{
      font-weight: bold;
      font-size: rem(20);
      line-height:rem(22);
      color: var(--second-color);
      margin-bottom: rem(8);
      transition: color .15s ease-in-out;
    }

    &-box{
      border-radius: 6px;
      min-height: rem(8);
      width: calc(40/668 * 100vw);
      min-width: 40px;
      box-shadow: var(--column-shadow);
      background: var(--column-color);
      user-select: none;
      transition: background .15s ease-in-out, box-shadow .15s ease-in-out;
      max-height: 60vh;
    }

    &-num{
      font-weight: 500;
      font-size: rem(16);
      line-height: rem(18);
      color: var(--second-color);
      margin-top: rem(12);
    }

  }

  &__users{
    display: flex;
    justify-content: space-between;
    padding: 0 calc(97/688 * 100vw);
    margin: rem(24) 0;

    @media all and (orientation: portrait) {
      flex-direction: column;
      padding: 0 calc(24/376 * 100vw);
    }

    &-el{
      display: flex;

      &:last-child{
        border-left: 2px solid rgba(#918F8A, .3);
        padding-left: rem(16);

        @media all and (orientation: portrait) {
          border-left: none;
          border-top: 2px solid rgba(#918F8A, .3);
          padding-left: 0;
          padding-top: 1rem;
          margin-top: 1rem;
        }
      }

      &-avatar{
        position: relative;
        user-select: none;
        margin-right: rem(14);

        &-img{
          border-radius: 50%;
          overflow: hidden;
          min-width: 40px;
          min-height: 40px;
          width: 40/688 * 100vw;
          height: 40/688 * 100vw;
          filter: var(--effect-photo);
        }
      }

      &-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &-name{
        font-weight: 500;
        font-size: rem(16);
        line-height: rem(18);
        color: var(--base-color);
        margin-bottom: rem(4);
      }

      &-num{
        font-weight: normal;
        font-size: rem(14);
        line-height: rem(16);
        color: var(--second-color);
      }

    }
  }

  &_diagram{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 58/668 * 100vw;
    margin: auto 0;

    @media all and (orientation: portrait) {
      flex-direction: column;
    }

    &__circle{
      width: 100%;
      max-width: 240/688 * 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &-box{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        max-width: 120/668 * 100vw;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        //width: 100%;
        //height: 100%;
      }

      &-title{
        font-weight: bold;
        font-size: rem(20);
        line-height: rem(22);
        text-align: center;
        color: var(--base-color);
        margin: 0 0 rem(6);
      }

      &-result{
        font-weight: 500;
        font-size: rem(16);
        line-height: rem(18);
        color: var(--second-color);
        text-align: center;
        margin: 0;
      }

      &-chart{
        width: 240/688 * 100vw;
        height: 240/688 * 100vw;

        circle{
          fill:none;
          stroke-width: 42px;
        }

        &-first{
          stroke: green;
        }

        &-second{
          stroke: red;
        }

        &-middle{
          stroke: blue;
        }

        &-last{
          stroke: yellow;
        }
      }
    }

    &__info{
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 304/688 * 100%;
      margin-left: 40/668 * 100vw;
    }

    &__row{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 17 / 668 * 100vw;

      &:not(:last-child){
        border-bottom: 2px solid rgba(#918F8A, .3);
      }

      &-circle{
        width: 16 / 688 * 100vw;
        height: 16 / 688 * 100vw;
        border-radius: 50%;
        box-shadow: var(--column-shadow-active);
        background: var(--column-color-active);
      }

      &-counts{
        font-weight: 500;
        font-size: rem(16);
        line-height: rem(18);
        color: var(--base-color);
      }

      &-progress{
        font-weight: 500;
        font-size: rem(16);
        line-height: rem(18);
        color: var(--second-color);
      }

      &-result{
        font-weight: 500;
        font-size: rem(16);
        line-height: rem(18);
        color: var(--second-color);
      }

    }
  }

}