.leaders{

  &__list{
    display: flex;
    justify-content: center;
    margin: auto 0 0;

    &-item{
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      text-align: center;
      min-width: 120px;
      position: relative;
      z-index: 1;

      @media all and (orientation: landscape) {
        width: 120/$widthMob * 100vw;
      }

      @media all and (orientation: portrait) {
        width: 120/$heightMob * 100vw;
      }

      &:not(:first-child){

        .leaders__list-item-emoji{
          display: none;
        }
      }

      &:first-child {
        order: 3;
        z-index: 3;
        margin: 0 -1rem;

        .leaders__list-item-place{
          box-shadow: var(--column-shadow-active);
          background: var(--column-color-active);

          @media all and (orientation: landscape) {
            height: 108/$widthMob * 100vw;
          }

          @media all and (orientation: portrait) {
            height: 325/$heightMob * 100vw;
          }
        }
      }

      &:nth-child(2){
        order: 4;
        z-index: 2;
        margin-right: -16/$widthMob * 100vw;

        .leaders__list-item-place{

          @media all and (orientation: landscape) {
            height: 88/$widthMob * 100vw;
          }

          @media all and (orientation: portrait) {
            height: 275/$heightMob * 100vw;
          }

        }
      }

      &:nth-child(3){
        order: 2;
        z-index: 2;
        margin-left: -16/$widthMob * 100vw;

        .leaders__list-item-place{

          @media all and (orientation: landscape) {
            height: 88/$widthMob * 100vw;
          }

          @media all and (orientation: portrait) {
            height: 225/$heightMob * 100vw;
          }
        }
      }

      &:nth-child(4){
        order: 5;

        @media all and (orientation: portrait) {
          display: none;
        }

        .leaders__list-item-place{
          height: 68/$widthMob * 100vw;
        }
      }

      &:nth-child(2),
      &:nth-child(4){

        .leaders__list-item-box{
          margin-left: auto;
          margin-right: 0;
        }

        .leaders__list-item-place {

          @media all and (orientation: landscape) {
            padding-left: 16/$widthMob * 100vw;
          }

          @media all and (orientation: portrait) {
            padding-left: 16/$heightMob * 100vw;
          }

        }
      }

      &:nth-child(3),
      &:nth-child(5){

       .leaders__list-item-box{
         margin-right: auto;
         margin-left: 0;

         @media all and (orientation: portrait) {
           &_vote {
             margin-right: auto;
             margin-left: auto;
           }
         }

       }

       .leaders__list-item-place {

         @media all and (orientation: landscape) {
           padding-right: 16/$widthMob * 100vw;
         }

         @media all and (orientation: portrait) {
           padding-right: 16/$heightMob * 100vw;
         }

         @media all and (orientation: portrait) {

           &_vote {
             padding-right: 0;
           }
         }
       }
      }

      &:last-child{
        order: 1;

        @media all and (orientation: portrait) {
          &:not(.leaders__list-item_vote){
            display: none;
          }
        }

      }

      &_vote{

        @media all and (orientation: portrait) {
          position: absolute;
          bottom: 0;
          margin: 0 auto;
          z-index: 3;
        }

        &:before{
          content: attr(data-like);
          font-weight: bold;
          text-align: center;
          position: absolute;
          left: 0;
          z-index: 3;

          @media all and (orientation: landscape) {
            letter-spacing: 0.39/$widthMob * 100vw;
            top: -2/$widthMob * 100vw;
            right: 16/$widthMob * 100vw;
            font-size: 32/$widthMob * 100vw;
            line-height: 32/$widthMob * 100vw;
          }

          @media all and (orientation: portrait) {
            letter-spacing: 0.39/$heightMob * 100vw;
            top: -2/$heightMob * 100vw;
            right: 0;
            font-size: 32/$heightMob * 100vw;
            line-height: 32/$heightMob * 100vw;
          }
        }

        @media all and (orientation: portrait) {
          .leaders__list-item-box {
            margin-left: auto;
            margin-right: auto;
          }

          .leaders__list-item-count {
            color: var(--colorLastLeaderVote);
          }

          .leaders__list-item-place {
            padding-right: 0;
            height: 48/$heightMob * 100vw;
            min-height: 48px;
            background: none;
            box-shadow: none;
            position: relative;

            &:before {
              content: "";
              display: inline-block;
              position: absolute;
              top: -6/$heightMob * 100vw;
              left: 0;
              right: 0;
              background: var(--colorLastLeaderVote);
              width: 60/$heightMob * 100vw;
              margin: 0 auto;
              height: 1/$heightMob * 100vw;

            }

          }

          .leaders__list-item-place-num {
            padding-top: 0;
          }
        }
      }


      &-box{
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        @media all and (orientation: landscape) {
          max-width: 104/$widthMob * 100vw;
          padding-top: 20/$widthMob * 100vw;
        }

        @media all and (orientation: portrait) {
          max-width: 104/$heightMob * 100vw;
          padding-top: 20/$heightMob * 100vw;

          &_vote{
            margin-right: 0;
          }
        }

      }

      &-avatar{
        position: relative;
        user-select: none;

        @media all and (orientation: landscape) {
          margin-bottom: 6/$widthMob * 100vw;
          max-height: 64/$widthMob * 100vw;
        }

        @media all and (orientation: portrait) {
          margin-bottom: 6/$heightMob * 100vw;
          max-height: 64/$heightMob * 100vw;
        }

        &-img{
          border-radius: 50%;
          overflow: hidden;
          min-width: 64px;
          min-height: 64px;
          filter: var(--effect-photo);

          @media all and (orientation: landscape) {
            width: 64/$widthMob * 100vw;
            height: 64/$widthMob * 100vw;
          }

          @media all and (orientation: portrait) {
            width: 64/$heightMob * 100vw;
            height: 64/$heightMob * 100vw;
          }
        }

      }

      &-emoji{
        font-weight: 700;
        z-index: 1;
        position: absolute;
        left: 0;
        right: 0;

        @media all and (orientation: landscape) {
          font-size: 32/$widthMob * 100vw;
          letter-spacing: 0.39/$widthMob * 100vw;
          line-height: 32/$widthMob * 100vw;
          top: -2/$widthMob * 100vw;
        }

        @media all and (orientation: portrait) {
          font-size: 32/$heightMob * 100vw;
          letter-spacing: 0.39/$heightMob * 100vw;
          line-height: 32/$heightMob * 100vw;
          top: -2/$heightMob * 100vw;
        }

      }

      &-name{
        display: flex;
        flex-direction: column;
        align-items: center;

        @media all and (orientation: landscape) {
          margin-bottom: 4/$widthMob * 100vw;
        }

        @media all and (orientation: portrait) {
          margin-bottom: 4/$heightMob * 100vw;
        }

        span{
          font-weight: 500;
          color: var(--base-color);

          @media all and (orientation: landscape) {
            font-size: 16/$widthMob * 100vw;
            line-height: 18/$widthMob * 100vw;;
          }

          @media all and (orientation: portrait) {
            font-size: 16/$heightMob * 100vw;
            line-height: 18/$heightMob * 100vw;;
          }
        }
      }

      &-count{
        color: #BFBFBF;
        font-weight: normal;

        @media all and (orientation: landscape) {
          margin-bottom: 16/$widthMob * 100vw;
          font-size: 14/$widthMob * 100vw;
          line-height: 16/$widthMob * 100vw;
        }

        @media all and (orientation: portrait) {
          margin-bottom: 16/$heightMob * 100vw;
          font-size: 14/$heightMob * 100vw;
          line-height: 16/$heightMob * 100vw;
        }

      }

      &-place{
        box-shadow: var(--column-shadow);
        background: var(--column-color);
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        @media all and (orientation: landscape) {
          height: 68/$widthMob * 100vw;
          min-height: 68/$widthMob * 100vw;
        }

        @media all and (orientation: portrait) {
          height: 68/$heightMob * 100vw;
          min-height: 68/$heightMob * 100vw;
        }

        &-num {
          font-weight: bold;
          display: block;

          @media all and (orientation: landscape) {
            font-size: 30/$widthMob * 100vw;
            line-height: 32/$widthMob * 100vw;
            padding-top: 18/$widthMob * 100vw;
          }

          @media all and (orientation: portrait) {
            font-size: 30/$heightMob * 100vw;
            line-height: 32/$heightMob * 100vw;
            padding-top: 18/$heightMob * 100vw;
          }

        }
      }

    }
  }
}