.leaders{

  &__list{
    display: flex;
    justify-content: center;
    margin: auto 0 0;

    &-item{
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      min-width: 120px;
      text-align: center;

      @media all and (orientation: landscape) {
        width: 120/$widthMob * 100vw;
      }

      @media all and (orientation: portrait) {
        width: 120/$heightMob * 100vw;
      }

      &_vote{

        @media all and (orientation: portrait) {
          position: absolute;
          bottom: 0;
          z-index: 3;
          margin: 0 auto;
        }

        &:before{
          position: absolute;
          left: 0;
          z-index: 3;
          font-weight: bold;
          text-align: center;
          content: attr(data-like);

          @media all and (orientation: landscape) {
            top: -2/$widthMob * 100vw;
            right: 16/$widthMob * 100vw;
            font-size: 32/$widthMob * 100vw;
            line-height: 32/$widthMob * 100vw;
            letter-spacing: 0.39/$widthMob * 100vw;
          }

          @media all and (orientation: portrait) {
            top: -2/$heightMob * 100vw;
            right: 0;
            font-size: 32/$heightMob * 100vw;
            line-height: 32/$heightMob * 100vw;
            letter-spacing: 0.39/$heightMob * 100vw;
          }
        }

        @media all and (orientation: portrait) {
          .leaders__list-item-box {
            margin-right: auto;
            margin-left: auto;
          }

          .leaders__list-item-count {
            color: var(--colorLastLeaderVote);
          }

          .leaders__list-item-place {
            position: relative;
            height: 48/$heightMob * 100vw;
            min-height: 48px;
            padding-right: 0;
            background: none;
            box-shadow: none;

            &:before {
              position: absolute;
              top: -6/$heightMob * 100vw;
              right: 0;
              left: 0;
              display: inline-block;
              width: 60/$heightMob * 100vw;
              height: 1/$heightMob * 100vw;
              margin: 0 auto;
              background: var(--colorLastLeaderVote);
              content: "";

            }

          }

          .leaders__list-item-place-num {
            padding-top: 0;
          }
        }
      }

      &-box{
        width: 100%;
        margin-right: auto;
        margin-left: auto;

        @media all and (orientation: landscape) {
          max-width: 104/$widthMob * 100vw;
          padding-top: 20/$widthMob * 100vw;
        }

        @media all and (orientation: portrait) {
          max-width: 104/$heightMob * 100vw;
          padding-top: 20/$heightMob * 100vw;

          &_vote{
            margin-right: 0;
          }
        }

      }

      &-avatar{
        position: relative;
        user-select: none;

        @media all and (orientation: landscape) {
          max-height: 64/$widthMob * 100vw;
          margin-bottom: 6/$widthMob * 100vw;
        }

        @media all and (orientation: portrait) {
          max-height: 64/$heightMob * 100vw;
          margin-bottom: 6/$heightMob * 100vw;
        }

        &-img{
          min-width: 64px;
          min-height: 64px;
          overflow: hidden;
          border-radius: 50%;
          filter: var(--effect-photo);

          @media all and (orientation: landscape) {
            width: 64/$widthMob * 100vw;
            height: 64/$widthMob * 100vw;
          }

          @media all and (orientation: portrait) {
            width: 64/$heightMob * 100vw;
            height: 64/$heightMob * 100vw;
          }
        }

      }

      &-emoji{
        position: absolute;
        right: 0;
        left: 0;
        z-index: 1;
        font-weight: 700;

        @media all and (orientation: landscape) {
          top: -2/$widthMob * 100vw;
          font-size: 32/$widthMob * 100vw;
          line-height: 32/$widthMob * 100vw;
          letter-spacing: 0.39/$widthMob * 100vw;
        }

        @media all and (orientation: portrait) {
          top: -2/$heightMob * 100vw;
          font-size: 32/$heightMob * 100vw;
          line-height: 32/$heightMob * 100vw;
          letter-spacing: 0.39/$heightMob * 100vw;
        }

      }

      &-name{
        display: flex;
        flex-direction: column;
        align-items: center;

        @media all and (orientation: landscape) {
          margin-bottom: 4/$widthMob * 100vw;
        }

        @media all and (orientation: portrait) {
          margin-bottom: 4/$heightMob * 100vw;
        }

        span{
          color: var(--base-color);
          font-weight: 500;

          @media all and (orientation: landscape) {
            font-size: 16/$widthMob * 100vw;
            line-height: 18/$widthMob * 100vw;
          }

          @media all and (orientation: portrait) {
            font-size: 16/$heightMob * 100vw;
            line-height: 18/$heightMob * 100vw;
          }

          &:last-child{
            position: relative;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }

      &-count{
        color: #BFBFBF;
        font-weight: normal;

        @media all and (orientation: landscape) {
          margin-bottom: 16/$widthMob * 100vw;
          font-size: 14/$widthMob * 100vw;
          line-height: 16/$widthMob * 100vw;
        }

        @media all and (orientation: portrait) {
          margin-bottom: 16/$heightMob * 100vw;
          font-size: 14/$heightMob * 100vw;
          line-height: 16/$heightMob * 100vw;
        }

      }

      &-place{
        background: var(--column-color);
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        box-shadow: var(--column-shadow);

        @media all and (orientation: landscape) {
          height: 68/$widthMob * 100vw;
          min-height: 68/$widthMob * 100vw;
        }

        @media all and (orientation: portrait) {
          height: 68/$heightMob * 100vw;
          min-height: 68/$heightMob * 100vw;
        }

        &-num {
          display: block;
          font-weight: bold;

          @media all and (orientation: landscape) {
            padding-top: 18/$widthMob * 100vw;
            font-size: 30/$widthMob * 100vw;
            line-height: 32/$widthMob * 100vw;
          }

          @media all and (orientation: portrait) {
            padding-top: 18/$heightMob * 100vw;
            font-size: 30/$heightMob * 100vw;
            line-height: 32/$heightMob * 100vw;
          }

        }
      }

      &:not(:first-child){

        .leaders__list-item-emoji{
          display: none;
        }
      }

      &:first-child {
        z-index: 3;
        order: 3;
        margin: 0 -1rem;

        .leaders__list-item-place{
          background: var(--column-color-active);
          box-shadow: var(--column-shadow-active);

          @media all and (orientation: landscape) {
            height: 108/$widthMob * 100vw;
          }

          @media all and (orientation: portrait) {
            height: 325/$heightMob * 100vw;
          }
        }
      }

      &:nth-child(2){
        z-index: 2;
        order: 4;
        margin-right: -16/$widthMob * 100vw;

        .leaders__list-item-place{

          @media all and (orientation: landscape) {
            height: 88/$widthMob * 100vw;
          }

          @media all and (orientation: portrait) {
            height: 275/$heightMob * 100vw;
          }

        }
      }

      &:nth-child(3){
        z-index: 2;
        order: 2;
        margin-left: -16/$widthMob * 100vw;

        .leaders__list-item-place{

          @media all and (orientation: landscape) {
            height: 88/$widthMob * 100vw;
          }

          @media all and (orientation: portrait) {
            height: 225/$heightMob * 100vw;
          }
        }
      }

      &:nth-child(4){
        order: 5;

        @media all and (orientation: portrait) {
          display: none;
        }

        .leaders__list-item-place{
          height: 68/$widthMob * 100vw;
        }
      }

      &:nth-child(2),
      &:nth-child(4){

        .leaders__list-item-box{
          margin-right: 0;
          margin-left: auto;
        }

        .leaders__list-item-place {

          @media all and (orientation: landscape) {
            padding-left: 16/$widthMob * 100vw;
          }

          @media all and (orientation: portrait) {
            padding-left: 16/$heightMob * 100vw;
          }

        }
      }

      &:nth-child(3),
      &:nth-child(5){

        .leaders__list-item-box{
          margin-right: auto;
          margin-left: 0;

          @media all and (orientation: portrait) {
            &_vote {
              margin-right: auto;
              margin-left: auto;
            }
          }

        }

        .leaders__list-item-place {

          @media all and (orientation: landscape) {
            padding-right: 16/$widthMob * 100vw;
          }

          @media all and (orientation: portrait) {
            padding-right: 16/$heightMob * 100vw;

            &_vote {
              padding-right: 0;
            }
          }
        }
      }

      &:last-child{
        order: 1;

        @media all and (orientation: portrait) {
          &:not(.leaders__list-item_vote){
            display: none;
          }
        }

      }
    }
  }
}