.legend{

  &__row{
    display: flex;
    margin: 0 auto;
    width: 100%;

    @media all and (orientation: landscape) {
      padding-top: 32/$widthMob * 100vw;
      max-width: 332/$widthMob * 100vw;

    }

    @media all and (orientation: portrait) {
      padding-top: 49/$heightMob * 100vw;
      max-width: 328/$heightMob * 100vw;
    }
  }

  &__item{
    display: flex;
    flex-direction: column;
    
    @media all and (orientation: landscape) {
      margin: 0 4/$widthMob * 100vw;
      align-items: center;
    }

    @media all and (orientation: portrait) {
      margin: 0 4/$heightMob * 100vw;
      align-items: flex-start;
    }

    &:first-child{
      margin-left: 0;
    }

    &:last-child{
      margin-right: 0;
    }


    &-box{
      height: rem(12);
      border-radius: 2px;

      @media all and (orientation: landscape) {
        width: 60/$widthMob * 100vw;
        max-width: 60px;
      }

      @media all and (orientation: portrait) {
        width: 59.2/$heightMob * 100vw;
        max-width: 59.2px;
      }

    }

    &-text-gap{
      font-weight: 500;
      font-size: rem(16);
      line-height: rem(18);
      color: #918F8A;

      @media all and (orientation: landscape) {
        margin-top: 8/$widthMob * 100vw;
      }

      @media all and (orientation: portrait) {
        margin-top: 8/$heightMob * 100vw;
      }
    }

    &:first-child .legend__item-box{
      background-image: var(--legendStep);
      background-position: center;
      background-size: 100% auto;
      background-repeat: no-repeat;
    }

    $types: (
      2: 'Min',
      3: 'Mid',
      4: 'Max',
      5: 'Extra'
    );

    @each $num, $key in $types {
      &:nth-child(#{$num}) .legend__item-box {
        background: var(--legend#{$key}Background);
        box-shadow: var(--legend#{$key}Shadow);
      }
    }
  }

}