.slide{
  min-height: 100vh;
  padding: 0 8%;
  display: flex;
  flex-direction: column;

  &__title{
    font-weight: bold;
    font-size: rem(30);
    line-height: rem(32);
    text-align: center;
    color: var(--base-color);
    margin: 0;
    padding: rem(20) 0 rem(8);
  }

  &__subtitle{
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: rem(18);
    margin: 0;
    color: var(--second-color);
    text-align: center;
  }

  &__list{
    display: flex;
    justify-content: center;
    margin: auto 0 0;

    &-item{
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      text-align: center;
      width: 100%;
      max-width: 20%;
      min-width: 120px;
      position: relative;
      z-index: 1;

      &:not(:first-child):not(:last-child){
        .slide__list-item-emoji{
          display: none;
        }
      }

      &:first-child {
        order: 3;
        z-index: 3;
        margin: 0 -1rem;

        .slide__list-item-place{
          box-shadow: var(--column-shadow-active);
          background: var(--column-color-active);
          height: 108/376 * 100vh;
        }
      }

      &:nth-child(2){
        order: 4;
        z-index: 2;
        margin-right: -1rem;

        .slide__list-item-place{
          height: 88/376 * 100vh;
        }
      }

      &:nth-child(3){
        order: 2;
        z-index: 2;
        margin-left: -1rem;

        .slide__list-item-place{
          height: 88/376 * 100vh;
        }
      }

      &:nth-child(4){
        order: 5;

        .slide__list-item-place{
          height: 68/376 * 100vh;
        }
      }

      &:last-child{
        order: 1;

        .slide__list-item-place{
          height: 68/376 * 100vh;
        }
      }


      &-avatar{
        position: relative;
        margin-bottom: rem(6);

        &-img{
          border-radius: 50%;
          overflow: hidden;
          min-width: 64px;
          min-height: 64px;
          width: 64/688 * 100vw;
          height: 64/688 * 100vw;
        }

      }

      &-emoji{
        position: absolute;
        top: -22px;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-weight: bold;
        font-size: rem(32);
        line-height: rem(32);
      }

      &-name{
        font-weight: 500;
        font-size: rem(16);
        line-height: rem(18);
        color: var(--base-color);
        margin-bottom: rem(4);
      }

      &-count{
        font-size: rem(14);
        line-height: rem(16);
        color: var(--base-color);
      }

      &-place{
        box-shadow: var(--column-shadow);
        background: var(--column-color);
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        margin-top: rem(6);
        min-height: 68px;
        height: 68/376 * 100vh;
        //transition: height .1s linear;

        &-num {
          font-weight: bold;
          font-size: rem(30);
          line-height: rem(32);
          padding-top: rem(18);
          display: block;
        }
      }

    }
  }
}