.webmasters{
  display: flex;
  padding: 0 153/1680 * 100%;

  @include mq('large-small', 'max') {
    flex-direction: column;
    padding: 0 24px;
  }

  &__cover{
    position: relative;
  }

  &__info{
    width: 100%;
    max-width: 50%;

    @include mq('large-small', 'max') {
      max-width: 100%;
    }

    h2{
      font-weight: 900;
      font-size: 64px;
      line-height: 78px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin: 0 0 100px;

      @include mq('large-small', 'max') {
        font-size: 35px;
        line-height: 43px;
        text-align: center;
        margin-bottom: 40px;
      }

      @include mq('phone', 'max') {
        font-size: 30px;
        margin-bottom: 20px;
      }
    }

    h3{
      font-weight: 700;
      font-size: 46px;
      line-height: 144.9%;
      margin: 0 0 40px;
      color: #FFFFFF;

      @include mq('large-small', 'max') {
        font-size: 24px;
        line-height: 35px;
      }

      @include mq('phone', 'max') {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 20px;
      }


    }

    p{
      font-weight: normal;
      font-size: 18px;
      line-height: 144.9%;
      color: #ACAEB3;
      margin: 0 0 50px;

      @include mq('large-small', 'max') {
        font-size: 16px;
      }
    }

    .btn{
      max-width: 178px;
      font-size: 16px;
    }
  }


  &__pic{
    position: absolute;
    right: 0;
    bottom: 0;
    top: -70px;
    width: 809/1920 * 100vw;
    height: 681px;
    max-width: 809px;
    display: flex;
    align-items: center;

    @include mq('large-small', 'max') {
      position: relative;
      width: 100%;
      height: auto;
      right: -24px;
      top: 0;
    }

    img{
      width: 100%;
      position: relative;
      z-index: 1;
    }

    &-circle-1{
      position: absolute;
      top: 129px;
      left: 304px;
      z-index: 2;

      @include svgSize(62, 62);
    }

    &-circle-2{
      position: absolute;
      bottom: 73px;
      left: 30px;

      @include svgSize(188, 188);
    }
  }

  &__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 153/1680 * 100%;
    margin-top: 100px;
    margin-bottom: 96px;
    width: 100%;

    @include mq('large-small', 'max') {
      grid-template-columns: 1fr;
      padding: 0 24px;
      margin-top: 40px;

    }

    &-item{
      display: flex;
      flex-direction: column;
      margin-bottom: 70px;

      @include mq('large-small', 'max') {
        margin-bottom: 40px;
        align-items: center;
        text-align: center;
      }

      .ico{
        box-shadow: 0px 0px 44px rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        margin-bottom: 10px;
      }

      h3{
        font-weight: bold;
        font-size: 26px;
        margin: 0 0 3px;
        line-height: 144.9%;

        @include mq('large-small', 'max') {
          font-size: 22px;
        }
      }

      p{
        font-weight: normal;
        font-size: 18px;
        margin: 0;
        line-height: 144.9%;
        color: #ACAEB3;

        @include mq('large-small', 'max') {
          font-size: 16px;
        }
      }
    }

  }

}